* {
  /*Reset's every elements apperance*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 

  
  outline: none;
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
}

.container {
  height: 100vh;
  display: flex;
}
.header {
  width: 100%;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.mylogo,
.menu-button,
.icon-menu,
.btn-twitter,
.btn-github,
.btn-medium,
.btn-angellist,
.btn-linkedin,
.btn-downarrow {
  border: none;

  text-decoration: none;
  cursor: pointer;
  color: #172b4d;
  cursor: pointer;
}

.menu-button {
  margin: 10px;
}

.mylogo {
  font-family: "Inter";
  font-style: normal;
  font-size: medium;
  font-weight: 700;
  padding: 15px 0px 5px 10px;
  margin: 10px;
}

.headlines {
  background-image: url("assests/images/header-illustration-mobile/header-illsutration-mobile.svg");
  background-repeat: no-repeat;

background-size: 100% 100%;

 
  padding-top: 80px;

}



.headlines-container {
  width: 50%;
  padding: 1px 3px;
  margin: 2px 2px;
}
.primary {
  width: 327px;
  height: 211px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 20px;
}

.dev-span {
  color: #36b37e;
}
.supporting-content {
  width: 327px;
  height: 164px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 20px;
}

.contact-icons {
  display: flex;
  justify-content: space-between;
  margin: 12px 60px;

  width: 170.17px;
  height: 19.62px;

  box-sizing: border-box;
}

.icon-twitter,
.icon-github,
.icon-linkedin,
.icon-medium,
.icon-angellist {
  color: #505f79;
}


.downarrow{
  color: #505f79;
  margin: 0px 324%;
  padding-top: 35px;
}